# Ignore everything by default
/*

# Do not ignore these files
!.gitignore
!CMakeLists.txt
!scratch-simulator.cc

# Allow subdirectories
!nested-subdir/
!subdir/

# Allow all Python files in current folder
!*.py
